.circulars-chart-container {
    background: var(--bg-secondary);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    height: 100%;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .p-selectbutton {
        display: flex;
        gap: 0.25rem;
        
        .p-button {
            margin: 0 !important;
            padding: 0.25rem 1rem;
            min-width: 2rem;
            min-height: 2rem;
            
            i {
                font-size: 1rem;
            }
        }
    }
}
