.htmldiff-container ins {
  background-color: #c8f1d1 !important;
  text-decoration: none !important;
  color: #251414 !important;
}

.htmldiff-container del {
  background-color: #f8d7da;
  text-decoration: line-through;
  color: #251414;
}
